<html>

<head>
	<title><%= title %></title>
</head>

<body>
	<div>
		<a href="/">Home</a> |
		<a href="/cep/add">Adicionar novo CEP</a> |
		<a href="/cep">Listar CEP</a> |
		<a href="/cep/search/default">Buscar CEP</a>
	</div>
	<h1><%= title %></h1>