<%- include layouts/header.ejs %>
<p>
    Essa aplicação tem por finalidade fazer a inserção, edição, exibição e apagar dados referentes ao cep.
</p>
<p>
    No menu acima existe as opções para poder realizar essas tarefas.
</p>
<p>
    Adicionar novo CEP => Inserir valores no banco de dados.
</p>
<p>
    Listar CEP => Lista todos os cep registrados.
</p>
<p>
    Buscar CEP => Busca um CEP desejado.
</p>
<p>
    Caso queira fazer uma edição e/ou apagar um cep, você pode ir na opção Listar CEP ou em Buscar CEP.
</p>
<%- include layouts/footer.ejs %>